---
import Layout from "~/layouts/PageLayout.astro";
import BlogList from "~/components/blog/List.astro";
import Headline from "~/components/blog/Headline.astro";
import Pagination from "~/components/blog/Pagination.astro";

// import PostTags from "~/components/blog/Tags.astro";

import { blogListRobots, getStaticPathsBlogList } from "~/utils/blog";
// import Marketing from "~/components/Marketing";
import StarsCanvas from "~/components/Model";
import BaseLayout from "~/layouts/BaseLayout.astro";

export const prerender = true;

export async function getStaticPaths({ paginate }) {
  return await getStaticPathsBlogList({ paginate });
}

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;

// const allCategories = await findCategories();
// const allTags = await findTags();

const metadata = {
  title:
    "Blozum Blog: Leveraging AI for Business Growth and Higher Conversions",
  description:
    "Dive into Blozum's insightful blog exploring the intersection of AI and business. Learn how advanced tech solutions can skyrocket sales and conversions. Stay ahead with our latest tips and trends in AI-driven business strategies.",
  robots: {
    index: blogListRobots?.index && currentPage === 1,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: "blog",
  },
};
---

<BaseLayout metadata={metadata} title="ContraVault - The Blog">
  <section
    class="px-6 text-[#000000] mt-[77px] sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto"
  >
    <Headline>
      <!--       subtitle="A statically generated blog example with news, tutorials, resources and other interesting content related to AstroWind"
 -->

      The Blog
    </Headline>

    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    <!--
      <PostTags tags={allCategories} class="mb-2" title="Search by Categories:" isCategory />
      <PostTags tags={allTags}  title="Search by Tags:" />
    -->
  </section>
  <StarsCanvas />
  <!-- <Marketing /> -->
</BaseLayout>
